.news-container img {
  max-height: 35vh;
  overflow: hidden;
}

ion-slides,
ion-slide,
.news-container {
  height: 100% !important;

  .image-container {
    height: 40%;
    width: 100%;

    img {
      overflow: hidden;
      height: 100%;
      width: auto;
    }
  }

  ion-card-title {
    color: var(--balita-blue-dark);
  }
}

.news-description {
  span {
    color: var(--balita-blue-light);
    font-style: italic;
    font-weight: bolder;
  }
}

ion-button {
  --color: var(--balita-blue-dark);
  --border-color: var(--balita-blue-dark);
}

.footer {
  ion-text {
    color: var(--balita-blue-light);
    font-style: italic;
    font-weight: bolder;
  }

  span {
    color: var(--ion-color-medium-shade);
  }
}
